.gradle/
build/
**/build/
bin/
**/bin/
.architectury-transformer/

.idea/
*.iml
*.ipr
*.iws
.vscode/

*.class
*.log
hs_err_pid*
replay_pid*

run/
**/run/
config/
release/
logs/
crash-reports/
saves/
*.jar
!gradle/wrapper/gradle-wrapper.jar
